<div class="topbar">
  <div class="container">
    <div class="vertical-center">
      rubyslist > jobs > accounting
    </div>
  </div>
</div>
<div class="container">
  <div>
    <button type="button">reply</button>
    posted 2 days ago
    <h1 class="listing-header"><%= @listing.title %></h1>
    <div class="box">
      <p><%= @listing.description %></p>
    </div>
    
    test
  </div>
  <footer>
    <p>post id</p>
    <p>posted 2 days ago</p>
    <%= link_to 'Back', listings_path %>
  </footer>
</div>

